.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.pagination button img {
    width: 24px;
    height: 24px;
}

.active {
    background-color:#43967B;
    color: white;
    padding:2px;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
